.order-table-css {
    background-color: #C7D4E0;
    width: 100%;
}
th {
    border-bottom: 1px solid #eb5151;
}
td, th {
    padding-right: 45px;
    padding-left: 10px;
    line-height: 35px;
}
.table-title-css {
    text-align: center;
}
.orders {
    border: 3px solid #eb5151;
    border-radius: 5px;
    width: 95%;
}
.no-orders {
    color: #eb5151;
    font-size: 20px;
    text-align: center;;
}
.delete_order {
    cursor: pointer;
    padding-left: 25px;
}
p.user_info, p.address {
    margin: 12px 31px;
    color: cadetblue;
    font-size: 20px;
}
.admin-name a {
    color: #fff;
}
.admin-name a:hover {
    text-decoration: none;
    color: #fff;
}